<%= form_for(@location, html: { multipart: true }) do |f| %>
  <% if @location.errors.any? %>
     <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h3>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    *<%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control", placeholder:"Bendigo etc." %>
  </div>
  <div class="form-group">
    *<%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", rows:10, placeholder:"In detail, describe your experience" %>
  </div>
  <div class="form-group">
    *<%= f.label :address %><br>
    <%= f.text_field :address, class:"form-control", placeholder:"123 Fake St, Melbourne, VIC 3056" %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class:"form-control", placeholder:"www.example.com" %>
  </div>
    <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class:"form-control", placeholder:"estimated cost" %>
  </div>
  <div class="form-group">
    *<%= f.label :images %><br>
    <%= f.file_field :images, multiple: true, class:"form-control" %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit class:"btn btn-success col-md-12" %>
  </div>
  </br>
<% end %>