
<div class="jumbotron">
  <h1>Feeling run down? Tired? Semi-suicidal? Well we've got you covered!</h1>
  </br>
  <h3>Welcome to rut bustin' a place where people can gather and share how they've busted themselves out a of rut.</h3>
  <div class="text-center"><button class="col-md-4 btn btn-lg btn-success center-block">Sign up now!</button></br></div>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.website %></td>
        <td><%= link_to 'Show', location, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_location_path(location), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
