
<div class="jumbotron">
  <h1>Feeling run down? Tired? Semi-suicidal? Well we've got you covered!</h1>
  </br>
  <h3>Welcome to rut bustin' a place where people can gather and share how they've busted themselves out a of rut.</h3>
  <div class="text-center"><button class="col-md-4 btn btn-lg btn-success center-block">Sign up now!</button></br></div>
</div>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2">Actions</th>
      <% end %>  
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><img><%=image_tag location.image %></td>
        <td><%= link_to location.name, location %></td>
        <td><%= location.address %></td>
        <td><%= location.website %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_location_path(location), class:"btn btn-warning" %></td>
          <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
<% end %>