<div class="containter">
<nav class="breadcrumb">
  <a class="breadcrumb-item" <%= link_to 'Home/', root_path%></a>
  <span class="breadcrumb-item active">Location List</span>
</nav>
<div class="jumbotron">
  <h1><%= render 'devise/shared/page_title', title: 'All Locations'%></h1>
  <p class="lead">Here you'll find many locations for you to explore!</p>
  <p>Coming soon: add locations to your wishlists then check them off one by one</p>
</div>

<div><% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Location', new_location_path, class:"btn btn-primary" %>
<% end %>
</div>
<br>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails, class:"pull-left paginate" %>

<div class=container>
  <% @locations.each_slice(3) do |locations| %>
    <div class="row">
    <% cache @locations do %>
      <% locations.each do |location| %>
        <% cache location do %>
          <div class="col-md-4">
            <div class="recipe">
              <div class="image_wrapper">
                <%= link_to location do %>
                  <%= image_tag location.images[0] %>
                <% end %>
              </div>
              <div id="name">
                <h2>
                  <%= link_to location.name, location %>
                </h2>
              </div>
              <div id="description">
                <p>
                  <%= truncate(location.description, length: 900)%> <small><%=link_to 'click to see more', location_path(location)%></small>
                </p>
              </div>
              <hr>
              <div id="address">
                <h2>
                  <%=link_to location.address, "https://www.google.com.au/maps/place/#{location.address}/" %>
                </h2>
              </div>
              <% if user_signed_in? && current_user.admin? %>
              <div>
                <%= link_to 'Edit', edit_location_path(location), class:"btn btn-warning" %>
                <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
              </div>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
    </div>
  <% end %>
</div>