<div class="row">
  <div class="col-md-8">
    <img><%= image_tag @location.image_url %>
    
    <h2>
      <%= @location.name %>
    </h2>
    
    <div class="star-rating" data-score=<%= @avg_rating %>></div> 
    <p><%= "#{@reviews.length} reviews" %></p>
    
    <p>
      <strong>Address:</strong>
      <%= @location.address %>
    </p>
    
    <p>
      <strong>Website:</strong>
      <%= @location.website %>
    </p> 
    </br>
    <iframe
      width="300"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &q=<%= @location.address.parameterize %>&zoom=11">
    </iframe>
    </br>
    </br>
    <%= link_to 'Leave a Review', new_location_review_path(@location), class:"btn btn-success"%>
  </div>
</br>
  <div class="col-md-4">
    <h2>Reviews for: <%= @location.name %></h2>
    <% if @reviews.blank? %>  
      <div class='well'>No reviews yet. Be the first to write one!</br>
        <%= link_to 'Leave a Review', new_location_review_path(@location), class:"btn btn-success"%>
      </div>
    <% else %>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p>
                 <span class='quiet'><small>Created: <%= time_ago_in_words(review.created_at)%> ago</small></span><br />
               </p>
              </td>

              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_location_review_path(@location, review) %>
                    <%= link_to "Delete", location_review_path(@location, review), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_location_path(@location), class:"btn btn-warning" %> 
  <%= link_to 'Back', locations_path, class:"btn btn-primary" %>
<% end %>  
<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/rutbustin1/stars/', 
    readOnly : true,
      score: function() {
        return $(this).attr('data-score');
      }
  });
</script>