<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">
        <h5> Rut Bustin'<i class="fa fa-check-square-o" aria-hidden="true"></i></h5>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %>
        <li><a href="/pages/about">About<span class="sr-only">(current)</span></a></li>
      </ul>
      
      <%= form_tag search_locations_path, method: :get, class: "navbar-form navbar-left" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %>
        <%else%>
          <li><%= link_to 'Log in', new_user_session_path %>
          <li><%= link_to 'Sign up', new_user_registration_path %>
        <%end%> 
      </ul>
    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>