<!DOCTYPE html>
<html lang=”en”>
<head>
  <title>Rut Bustin' </title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="9yJ-jW0p3unLBnt684xfABc-TMW13lReH0noy-M0FXc" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <a href="#content" class="skip">Skip to content</a>

<%= render 'layouts/navigation'%>

  <div class="container-fluid">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
        <% end %>
      <% end %>
      
<%= yield %>
</div>
<%= render 'layouts/footer' %>

<link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<script type="text/javascript">
  function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/jquery.raty.min.js";
  document.body.appendChild(element);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
</script>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
 <script src="//load.sumome.com/" data-sumo-site-id="c2644678038cb79e7a477ba9cd1227b0617895268f0d0714b7a7b3227d53410a" async="async"></script>
<script>
 $( document ).ready(function() {
        // bind a click event to the 'skip' link
        $(".skip").click(function(event){
    
            // strip the leading hash and declare
            // the content we're skipping to
            var skipTo="#"+this.href.split('#')[1];
    
            // Setting 'tabindex' to -1 takes an element out of normal 
            // tab flow but allows it to be focused via javascript
            $(skipTo).attr('tabindex', -1).on('blur focusout', function () {
    
                // when focus leaves this element, 
                // remove the tabindex attribute
                $(this).removeAttr('tabindex');
    
            }).focus(); // focus on the content container
        });
    });
</script> 
</body>
</html>
