<!DOCTYPE html>
<html>
<head>
  <title>Rut Bustin'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/jquery.raty.min.js"></script>
  <script src="//load.sumome.com/" data-sumo-site-id="c2644678038cb79e7a477ba9cd1227b0617895268f0d0714b7a7b3227d53410a" async="async"></script><script src="//load.sumome.com/" data-sumo-site-id="c2644678038cb79e7a477ba9cd1227b0617895268f0d0714b7a7b3227d53410a" async="async"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation'%>
<div class="container-fluid">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
